@font-face {
    /* fonts used in the app */
    font-family: 'The Nautigal';
    src: url('./assets/fonts/TheNautigal-Bold.ttf');
}


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}


:root {
    --yellow: #d69642dc;
    --font1: 'The Nautigal';
    --font2: 'Poppins';
    --black: #141418;
    --bg: #01010363;
    --border: .1rem solid rgba(58, 46, 46, 0.3);
}


html {
    font-size: 62.4%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    font-family: var(--font2);
}

/* scrollbar design */
/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 100px;
    /* z-index: 1000; */

}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--yellow);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow);
}

body {
    /* background: var(--black); */
}

/* .heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--yellow);
    text-transform: uppercase;
} */

/* Header Styling */

.header {
    padding: 1.5rem 9%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    box-shadow: 0.5rem 1.5rem rgba(119, 110, 110, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    border-bottom: var(--border);

}

.header #user {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    text-align: start;


}

.user-div {
    width: 10%;
    height: 80%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    text-decoration: none;
    color: white;
    font-family: var(--font1);

}

.header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header .navbar a, .user-div a {
    font-size: 1.6rem;
    margin-left: 2rem;
    text-decoration: none;
    color: white;

}

.header .navbar #user {
    display: none;
}

.header .navbar a:hover, .user-div a i:hover {
    color: var(--yellow);
    border-bottom: .1rem solid var(--yellow);
    padding-bottom: .5rem;
}


.header .icons i {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons i:hover, .header .icons #drawer:hover {
    color: var(--yellow);
}


#drawer {
    font-size: 2.5rem;
    /* border-radius: .5rem; */
    color: white;
    /* background: rgb(87, 84, 84); */
    padding: 1rem 1.5rem;
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--yellow);
}



.dropdown-content {
    width: 12rem;
    position: absolute;
    top: 105%;
    right: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--yellow);
    outline: 1px solid white;
    background: black;
    box-shadow: .5rem .5rem 0 rgba(163, 136, 86, 0.521);
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
    transition: none;
    padding-bottom: 30px;
    padding-top: 2rem;

}

.dropdown-content a {
    text-decoration: none;
    width: 98%;
    padding-top: .3rem;
    margin-bottom: .5rem;
    margin-right: 16.3%;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-family: none;

}

.dropdown-content.active a:hover {
    background-color: var(--yellow);
    color: white;
}

.dropdown-content.active {
    transform: scale(1);
    opacity: 1;
    transition: .2s ease-out;


}

/* Account Page  starts*/
/* SignIn And SignUp Page Styling */

#signIn-Body, #signUp-Body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/images/bac2.webp");
    background-size: 100% 100vh;
}

#signIn-Body.signIn {
    display: none;
}

#signUp-Body {
    display: none;
}

#signUp-Body.signUpBody {
    display: inline-block;
}

.backArrow {
    z-index: 1;
    font-size: 3rem;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 1%;
    margin-left: 1%;
    text-align: center;
}

/* signUp carousel starts */
.line {
    background-color: burlywood;
    height: 38vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lineUp {
    animation: 7s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* signUp carousel ends */

.accountPage {
    position: relative;
    width: 48%;
    height: 66vh;
    border-radius: 20px;
    box-shadow: 5px 5px 12px rgb(17, 16, 16), inset 5px 5px 12px rgba(235, 228, 228, 0.16);
    margin: 10% auto;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.accountPage .logo {
    top: -5%;
    left: -8%;
    position: absolute;
    width: 28%;
    height: 36%;
    border: 3px dashed rgb(136, 48, 74);
    border-radius: 50%;
    background-image: url("./assets/images/shaff1.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
    z-index: 1;
}

.accountPage h1 {
    font-family: var(--font1);
    font-size: 3.8rem;
    width: 100%;
    padding: 4.5% 0;
    text-align: center;
    background-color: rgba(230, 64, 43, 0.575);
    border-top-right-radius: 20px;

}

.accountPage .account {
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#signUp-Body .accountPage .account div {
    position: sticky;
    bottom: 0;
}

.accountPage .account h2 {
    font-family: var(--font1);
    font-size: 5em;
    padding-bottom: 2%;
}

.accountPage form {
    background-color: rgba(236, 167, 167, 0.671);
    padding: 3% 5%;
    width: 75%;
    height: 78%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.accountPage input {
    width: 95%;
    padding: 3% 7%;
    border-radius: 20px;
    background-color: white;
    text-transform: lowercase;
    box-shadow: 5px 5px 12px rgb(17, 16, 16), inset 5px 5px 12px rgba(235, 228, 228, 0.16);
    caret-color: red;
    font-size: 1.3rem;
}

.accountPage form label {
    font-size: 1.3rem;
    width: 100%;
}

.accountPage form a {
    text-decoration: none;
    color: black;
    align-self: flex-end;
    font-size: 1.1rem;

}

.accountPage form a:hover {
    font-size: 1.3rem;
    border-bottom: 1.5px solid white;
    font-weight: bold;
}

.accountPage button {
    width: 50%;
    padding: 3%;
    background-color: var(--black);
    font-size: 1.8rem;
    border-radius: 20px;
    color: white;
}

.accountPage button:hover {
    font-size: 2rem;
    width: 55%;
    outline: 1px solid white;
}

.account>div {
    margin: 3% 0;
    font-size: 1.1em;
    font-weight: bold;
}

.account>div a {
    font-size: 1.3rem;
    box-shadow: 5px 5px 12px rgb(17, 16, 16), inset 5px 5px 12px rgba(235, 228, 228, 0.16);
    padding: 5px 8px;
    border-radius: 20px;
    text-decoration: none;
    color: black;

}

.account>div a:hover {
    background-color: rgba(230, 64, 43, 0.575);
    font-size: 1.5rem;
}

/* Bussiness Registration Form Styling */
#Bzns-form-page {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/bac2.webp");
    background-size: 100% 100vh;
    display: none;
}

#Bzns-form-page.active {
    display: flex;
    align-items: center;
    justify-content: center
}

#Bzns-form-page .form-parent {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.541);
}

#Bzns-form-page .form-parent .heading {
    background-color: rgba(0, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-radius: 10px 10px 0 0;
    padding-left: 5%;
}

#Bzns-form-page .form-parent .heading h2 {
    font-size: 3.5rem;

}

#Bzns-form-page .form-parent .heading p {
    font-size: 1.5rem;
    text-transform: lowercase;

}

#Bzns-form-page .form-parent .form-div form {
    width: 100%;
    display: inline-block;
    /* flex-direction: column;
    justify-content: space-between; */
    height: 100%;

}

#Bzns-form-page .form-parent .form-div form input {
    width: 35%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: lowercase;
    caret-color: red;


}

/* Customer Registration Form Styling */
#cA-form-page {
    display: none;
    background-image: url("./assets/images/bac2.webp");
    background-size: 100% 100vh;
}

#cA-form-page.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.form-parent {
    position: absolute;
    width: 82%;
    height: 80%;
    border-radius: 20px;
}

#cA-form-page .child1-logo {
    width: 50%;
    height: 100%;
    /* background-color: rgba(150, 131, 131, 0.438); */
    position: absolute;
    border-radius: 20px 0 0 20px;
    background-color: rgba(46, 45, 45, 0.664);

}

.linee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linee .lineUp {
    color: white;
    font-size: 3.5rem;
    /* background-color: rgba(29, 22, 21, 0.555); */
    padding: 2px;
    margin-top: 1rem;
}

.linee .lineUp.logo {
    width: 28%;
    height: 25%;
    border: 3px dashed rgb(136, 48, 74);
    border-radius: 50%;
    background-image: url("./assets/images/shaff1.jpg");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;

}

#cA-form-page .child2-form {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.541);
    right: 0;
    border-radius: 0 20px 20px 0;

}

.child2-form .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-top-right-radius: 20px;
    padding-left: 5%;
}

.child2-form .heading h2 {
    font-size: 3.5rem;

}

.child2-form .heading p {
    font-size: 1.5rem;
    text-transform: lowercase;

}

.form-parent .form-div {

    border-radius: 5px;
    padding: 20px;
    height: 80%;
    width: 100%;
    font-size: 1.5rem;
}

.form-parent .form-div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.form-parent .form-div form input {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: lowercase;
    caret-color: red;

}

.form-parent .form-div form input:focus {
    border: 1.5px solid black;


}

.form-div form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;

}

.form-div form button:hover {
    font-size: 2rem;
}

.form-div form .checkbox {
    align-self: flex-end;

}

.form-div form .checkbox input {
    width: fit-content;
}


.form-div form .checkbox a {
    color: red;
    text-transform: lowercase;

}

/* Account Page ends */


/* Home Page starts */
.section-home {
    height: 100vh;
    background-image: url('./assets/images/home3.jpg');
    background-size: 100% 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-home div {
    background-color: var(--yellow);
    margin-left: 2%;
    padding: 3% 2%;
    z-index: 1;
    border-radius: 5px;

}



.section-home h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.section-home p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}

.section-home a {
    background-color: rgb(250, 250, 250);
    color: #000;
    font-weight: bolder;
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;

}

.section-home a:hover {
    color: green;
    outline: 1px solid green;
    font-size: 2rem;

}

/* about section starts */

.about {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.about h1 {
    font-size: 4rem;
    text-transform: uppercase;
    background-color: var(--yellow);
    width: 100%;
    text-align: center;
    color: white;
}

.about p {
    padding: 5% 20%;
    font-size: 2rem;
    text-align: justify;
    text-transform: none;
    color: var(--yellow);
    text-shadow: 1px 1px 2px var(--yellow);
}

.about .row {
    display: flex;
    align-items: center;
    /* background:var(--black); */
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;

}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h1 {
    background-color: #000;
}


.about .row .content p {
    text-align: center;
}

/* Recipies section */

.recipies-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/images/home1.jpg');
    background-size: 100% 100vh;
    overflow-y: scroll;
    padding: 0;
}

.head {
    position: fixed;
    display: flex;
    background-color: black;
    color: white;
    font-size: 5rem;
    font-family: var(--font1);
    padding: 5px 0;
    border-radius: 0;
    width: 100%;
    z-index: 1;
}

.recipies-background .head>.logo {
    border-radius: 50%;
    width: 10%;
    background-image: url('./assets/images/shaff1.jpg');
    background-size: cover;
    background-position: center;

}

.rsycategory {
    position: fixed;
    top: 15%;
    height: 100px;
    width: 100%;
    padding: 5px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('./assets/images/home1.jpg');
    background-size: 100% 100vh;


}

.rsycategory a {
    border: 2px solid yellow;
    padding: 2px 15px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

.rsycategory a:hover {
    font-size: 2.5rem;
    color: greenyellow;
}

.recipies-parent {
    position: absolute;
    top: 30%;
    width: 100%;
    background-color: rgba(230, 218, 218, 0.356);
    display: grid;
    padding: 5%;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));



}

.recipy {
    background-color: rgba(54, 52, 52, 0.527);
    border-radius: 20px;
    height: 300px;
    padding: .8rem;
}

.recipy .image {
    width: 100%;
    height: 65%;
    overflow: hidden;
    border-radius: 15px;

}

.recipy .image img {
    width: 100%;
    height: 100%;
    /* border-radius: 20px 20px 0 0; */
}

.recipy img:hover {
    transform: scale(1.2);
}

.recipy .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: chartreuse; */
}

.recipy .title {
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: bolder;
    color: black;

}

.view-btn {
    text-decoration: none;
    text-align: center;
    width: 45%;
    padding: 10px 3px;
    /* background-color: #404041; */
    /* background-color: orangered; */
    outline: 1px solid yellow;

    /* outline: 1px solid rgba(168, 162, 162, 0.692); */
    font-weight: 400;
    color: white;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
    border-radius: 4px;
}

.view-btn:hover {
    color: green;
    outline: 1px solid green;
    background-color: whitesmoke;
    /* font-size: 2rem; */

}

.item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
    color: black;

}

/* recipe detail */
.recie-detail {
    height: 88%;
    width: 90%;
    /* background-color: #d69642f1; */
    background-color: #fff;
    border: 2px solid #d69642f1;
    position: fixed;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recie-detail #cut-recipe{
    align-self: flex-end;
    font-size: 2rem;
    margin: 1rem 1rem 0 0;
}
.recie-detail #cut-recipe:hover{
    cursor: pointer;
    color: var(--yellow);
    font-size: 2.5rem;
}
.recie-detail .img-name {
    display: flex;
    /* background-color: cadetblue; */
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    line-height: 2.2em;

}

.recie-detail .img-name img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.recie-detail .img-name h1 {
    padding-left: 5px;
    font-size: 3rem;
    text-align: center;
}

.recie-detail .img-name h1 span {
    font-size: 1.5rem;
    color: #424247;
    letter-spacing: .5rem;
}

.ing-method {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    /* text-align: start; */
    /* background-color: cadetblue; */

}

.ing-method li {
    font-size: 1.5rem;
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
    height: 95%;
    border-right: 2px inset var(--yellow);
    overflow-y: auto;

    /* background-color: bisque; */
    /* text-align: center; */
    /* list-style-position: inside; */
    /* text-indent: 2rem; */
}

.ingredient ul {
    list-style: none;
    padding-left: 25px;

}

.ingredient ul li::before {
    content: "•";
    color: var(--yellow);
    display: inline-block; width: 1em;
    margin-left: -1em;
    font-size: 2rem;
    font-weight: bold;
}
.ingredient .time{
    color: #424247;
}
.ingredient .time span{
    color: var(--yellow);
}
.method {
    width: 57%;
    height: 95%;
    /* text-align: center; */
    /* background-color: #424247; */
    list-style-position: inside;
    padding: 3px;
    padding-left: 5%;
    line-height: 4em;
    overflow-y: auto;
}

.method ol {
    margin-left: 15px;
    list-style: none;
    counter-reset: li;
}

.method li {
    counter-increment: li
}

.method li::before {
    content: counter(li);
    color: var(--yellow);
    display: inline-block;
    width: 1em;
}

/* footer */
.footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;

}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--yellow);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}


.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--yellow);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    border-top: .1rem solid rgba(0, 0, 0, 1);
}

.footer .credit span {
    color: var(--yellow);
}

/* Media Quries */


@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .user-div {
        display: none;
    }

    /* .recipies-parent { grid-template-columns: repeat(3, 1fr); } */

}

@media (max-width:786px) {
    #drawer {
        display: inline-block;
    }

    .accountPage h1 {
        font-size: 3.7rem;
    }


    /* .home, .about .row , .book .row{
      flex-wrap: wrap;
    }  */
    .header .navbar {
        width: 22rem;
        position: absolute;
        top: 105%;
        right: 1rem;
        border: 2px solid var(--yellow);
        border-radius: 20px;
        background: rgba(15, 15, 15, 0.473);
        box-shadow: .5rem .5rem 0 rgba(163, 136, 86, 0.521);
        transform-origin: top right;
        transform: scale(0);
        opacity: 0;
        transition: none;


    }

    .header .navbar #user {
        display: inline-block;
        font-size: 2rem;
        margin-bottom: -20px;
    }


    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
        color: white;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar.active a:hover, .header .navbar.active #user:hover {
        padding-left: 8px;
        color: var(--yellow);
        font-size: 2.2rem;

    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .dropdown-content.active {
        position: static;
        width: 80%;
        margin: auto;
        margin-top: -18px;
        background: transparent;
        border: none;
        background: transparent;
        outline: none;

    }

    .dropdown-content.active a {
        margin: 0;
        margin-top: 5px;
        color: white;
    }

    .dropdown-content.active a:hover {
        background-color: black;
    }

    .accountPage .logo {
        width: 23%;
        height: 26%;

    }

    /* recipy page styling */
    .rsycategory {
        top: 13.5%;
    }

    .rsycategory a {
        padding: 2px 42px;
        /* font-size: 1.7rem; */
    }
}


@media (max-width:672px) {
    .accountPage .logo {
        height: 20%;
        width: 25%;
    }

    #content1::after {
        content: "\a \a";
        white-space: pre;
    }

    .accountPage {
        height: 68vh;

    }

    .account>div {
        margin-bottom: 5%;
    }

    .accountPage form {
        width: 95%;
    }

    .accountPage input {
        width: 95%;
    }

    .accountPage .account .line h2 {
        font-size: 4rem;
    }

    .form-parent {
        width: 90%;
        height: 98%;
    }

    /* customer account page */
    #cA-form-page .child1-logo {
        width: 100%;
        height: 38%;
        border-radius: 20px 20px 0 0;
    }

    #cA-form-page .child2-form {
        width: 100%;
        height: 62%;
        top: 38%;
        border-radius: 0 0 20px 20px;

    }

    .form-parent .form-div {
        padding: 0 20px 20px 20px;
        height: 85%;
        width: 100%;
    }

    .child2-form .heading {
        width: 100%;
        height: 15%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .child2-form .heading h2 {
        font-size: 3rem;
    }

    .child2-form .heading p {
        padding-left: 2%;
        color: red;
        font-size: 3rem;
        font-family: var(--font1);

    }

    .linee .lineUp.logo {
        width: 15%;
        height: 35%;
    }

    .form-parent .form-div form input {
        width: 100%;
        padding: 5px 20px;
        margin: 5px 0;

    }

    .form-div form button {

        padding: 7px 20px;

    }

    .form-div form .checkbox input {
        width: fit-content;
    }


    /* recepy page header */
    .head {
        font-size: 4rem;
        padding: 5px 0;
    }

    .recipies-background .head>.logo {
        border-radius: 50%;
        width: 12%;

    }

    .rsycategory {
        top: 11%;
    }

    .rsycategory a {
        padding: 2px 38px;
        font-size: 1.7rem;
    }



}

@media (max-width:515px) {
    .rsycategory a {
        padding: 2px 20px;
    }

    /* .ing-method{
        width: 50%;
    } */

    .img-name{
        line-height: 2em;
        /* box-shadow: 0px 1px rgba(145, 145, 144, 0.753); */
    }
    .ing-method{
        overflow-y: auto;
    }
    .ingredient {
        height: max-content;
        width: 97%;
        border-right: none;
        padding: 5% 2%;
    }

    .method {
        width: 97%;
        height: max-content;
padding: 5% 2%;

    }


}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header .logo img {
        width: 50px;
        height: 50px;
    }

    .header .logo i {
        display: none;
    }

    .accountPage .logo {
        width: 35%;
    }

    .accountPage {
        width: 65%;
        right: 12%;
        margin: 18% auto;

    }

    .accountPage h1 {
        font-size: 3rem;

    }

    .account form div {
        font-size: 2rem;
    }

    .account form a {
        font-size: 1.3rem;
    }

    #registerNow::after {
        content: "\a \a";
        white-space: pre;
    }

    .lineUp {
        font-size: 1.7rem;

    }


    .linee .lineUp.logo {
        width: 20%;
        height: 30%;

    }

    .child2-form .heading {
        height: 20%;
        flex-direction: column;
    }

    .head {
        font-size: 3.5rem;
        padding: 15px 0;
    }

    .recipies-background .head>.logo {
        width: 13%;

    }

    .recie-detail .img-name {
        justify-self: center;
        width: 70%;
    }
    .ing-method{
        margin-top: 28px;
    }
    .img-name h1{
        line-height: 3rem;
    }

}

@media (max-width:362px) {
    .header .icons {
        display: flex;
        padding: 1rem;
    }

    .header .icons {
        align-items: center;
    }

    .accountPage h1 {
        font-size: 2.5rem;
        padding: 5.9% 0 6.9% 5%;

    }

    .accountPage input {
        width: 100%;
        padding: 3% 7%;
    }

    .linee .lineUp.logo {
        width: 25%;
        height: 33%;

    }

    .recipies-background .head>.logo {
        width: 15%;

    }

    .rsycategory a {
        padding: 2px 8px;
    }

}









/* start welcome animation */

.welcome .splash {
    border: 130em solid;
    border-image: linear-gradient(to right bottom, #e8f1ebbe, rgba(238, 127, 83, 0.274), #0c0908a9);
    position: fixed;
    left: 50%;
    top: 100%;
    /* z-index: 1500; */
    display: block;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    /* z-index: 1; */
}

/* jumping circle styling */
.welcome #welcome {
    display: flex;
    border: 4px salmon solid;
    box-shadow: 5px 10px 5px 5px rgb(160, 154, 153);
    justify-content: center;
    align-items: center;
    font: bolder 31px var(--font1);
    box-shadow: inset 0px 33px 25px 0 #000,
        inset 0 66px 15px 0px #ccc,
        inset 0 99px 5px 0px #fff;
    text-shadow: 1px 1px 2px rgb(2, 58, 8), 0 0 1em rgb(17, 119, 17), 0 0 0.2em rgb(139, 31, 4);
    ;
    /* background: #f08c1a ; */
    background-color: linear-gradient(red, yellow);
    /* z-index: 8; */
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
    z-index: 2;
}

@keyframes init {
    /* splash screen time styling */

    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 156px;
        height: 156px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes puff {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }

    100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }
}

@keyframes borderRadius {
    0% {
        border-radius: 70%;
    }

    100% {
        border-radius: 0px;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@keyframes moveUp {
    0% {
        background: #d3d2da;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background-image: linear-gradient(to right, rgb(22, 2, 2), rgb(83, 83, 81));
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}